<script type="text/javascript">
/**
 * Handles the click event for elements with the class 'increment-qty'.
 * Increments the value of the associated quantity input field by 1.
 */
$('.increment-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue + 1);
    });

/**
 * Handles the click event for elements with the class 'decrement-qty'.
 * Decrements the value of the associated quantity input field by 1.
 */
$('.decrement-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue - 1);
    });
</script>